*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: fantasy;
  font-size: 105%;
}

:root {
  --hue-neutral: 200; /* Blue */
  --hue-correct: 145; /* Green */
  --hue-wrong: 0; /* Red */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(203, 53%, 93%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
}
.header {
  --hue: var(--hue-neutral);
  font-size: 1.6rem;
  font-weight: bold;
  position: fixed;
  top: 20px;
  color: hsl(var(--hue), 100%, 30%);
  padding: 10px;
}

.container {
  position: relative;
  width: 800px;
  max-width: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 400px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  row-gap: 14px;
  margin: 10px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 0.8px solid hsl(var(--hue), 100%, 30%);
  /* background-color: hsl(var(--hue), 100%, 50%); */
  border-radius: 6px;
  padding: 10px 5px;
  color: #464545;
  outline: none;
  cursor: pointer;
  text-align: left;
  font-size: 0.98rem;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: hsl(var(--hue), 80%, 40%);
}

.btn.wrong {
  --hue: var(--hue-wrong);
  color: hsl(var(--hue), 100%, 40%);
}

.btn:hover {
  --hue: var(--hue-neutral);
  border-color: hsl(var(--hue), 100%, 70%);
}

.control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.control-btns > .start-btn {
  width: 220px;
  text-align: center;
  margin: 5px 0;
}

.start-btn,
.next-btn,
.end-btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #fff;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

.next-btn,
.end-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.hide {
  display: none;
}

/*  */
.small-font {
  font-size: 18px;
  color: #464545;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  --hue: var(--hue-neutral);
  position: fixed;
  bottom: 15px;
  color: hsl(var(--hue), 100%, 30%);
  font-size: 0.95rem;
}

.score-container {
  background-color: #fff;
  height: 180px;
  width: 140px;
  border-radius: 10px;
  position: absolute;
  right: 6%;
  top: 6%;
  padding: 15px;
}

.score-text,
.score-value {
  color: hsl(200, 100%, 25%);
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.score-value {
  font-size: 6rem;
}

.time-remaining {
  color: hsl(200, 100%, 25%);
}

.pin {
  position: absolute;
  right: -20px;
  top: -45px;
  font-size: 1.8rem;
}

.question {
  color: #464545;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.play-btns {
  display: flex;
  justify-content: center;
}

.play-again-btn,
.quit-btn {
  margin: 10px;
  padding: 16px;
}

.play-again-text {
  text-align: center;
  color: hsl(200, 100%, 25%);
}

.play-again-btn:hover {
  --hue: var(--hue-correct);
  border-color: hsl(var(--hue), 100%, 70%);
}

.quit-btn:hover {
  --hue: var(--hue-wrong);
  border-color: hsl(var(--hue), 100%, 70%);
}
